html {
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 20rem;
    width: 100%;
    color: $black;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    background-color: $white;
}

h1 {
    margin: 0 0 5rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;

    @include breakpoint(v-mobile) {
        padding: 0 1rem;
        margin: 0 0 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    span {
        color: $middle-grey;

        &:first-of-type {
            margin-right: 1.25rem;
        }

        &:last-of-type {
            margin-left: 1.25rem;
        }
    }
}

h2 {
    margin: 0 0 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: $dark-grey;
    line-height: 1.5rem;
}

a {
    color: $black;
    text-decoration: none;

    &:visited,
    &:focus,
    &:active {
        outline: none;
        outline: 0 none;
        text-decoration: none;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    @include breakpoint(v-mobile) {
        padding-top: 6rem;
    }
}

.content {

    p {
        margin: 0;
    }

    p+p {
        margin: 1rem 0 0;
    }
}

.link {
    color: $red;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    border-bottom: 1px solid rgba($red, .5);

    &:hover {
        border-bottom-color: transparent;
    }
}

.ul-list {

    li {
        padding-left: 2rem;
        position: relative;
        line-height: 1.5;
        font-size: .875rem;

        @include breakpoint(tablet) {
            font-size: .75rem;
        }

        &:before {
            content: '// ';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            font-weight: 700;
            color: $middle-grey;
        }
    }

    li+li {
        margin: .5rem 0 0;
    }
}
