.white-text {
    color: $white !important;
}

.white-bg {
    background-color: $white !important;
}

.red-text {
    color: $red !important;
}

.red-bg {
    background-color: $red !important;
}

.black-text {
    color: $black !important;
}

.black-bg {
    background-color: $black !important;
}

.dark-grey-text {
    color: $dark-grey !important;
}

.dark-grey-bg {
    background-color: $dark-grey !important;
}

.lite-grey-text {
    color: $lite-grey !important;
}

.lite-grey-bg {
    background-color: $lite-grey !important;
}

.middle-grey-text {
    color: $middle-grey !important;
}

.middle-grey-bg {
    background-color: $middle-grey !important;
}
