.margin-bottom {

    &--xs {
        margin-bottom: 1rem;

        @include breakpoint(v-mobile) {
            margin-bottom: .5rem;
        }
    }

    &--xsm {
        margin-bottom: 1.5rem;

        @include breakpoint(v-mobile) {
            margin-bottom: .75rem;
        }
    }

    &--s {
        margin-bottom: 2rem;

        @include breakpoint(v-mobile) {
            margin-bottom: 1rem;
        }
    }

    &--sm {
        margin-bottom: 2.5rem;

        @include breakpoint(v-mobile) {
            margin-bottom: 1.25rem;
        }
    }

    &--m {
        margin-bottom: 3rem;

        @include breakpoint(v-mobile) {
            margin-bottom: 1.5rem;
        }
    }

    &--mm {
        margin-bottom: 3.5rem;

        @include breakpoint(v-mobile) {
            margin-bottom: 1.75rem;
        }
    }

    &--l {
        margin-bottom: 4rem;

        @include breakpoint(v-mobile) {
            margin-bottom: 2rem;
        }
    }

    &--lm {
        margin-bottom: 4.5rem;

        @include breakpoint(v-mobile) {
            margin-bottom: 2.25rem;
        }
    }

    &--xl {
        margin-bottom: 5rem;

        @include breakpoint(v-mobile) {
            margin-bottom: 2.5rem;
        }
    }

    &--no {
        margin-bottom: 0;
    }

    &--no-important {
        margin-bottom: 0 !important;
    }
}

.margin-top {

    &--xs {
        margin-top: 1rem;

        @include breakpoint(v-mobile) {
            margin-top: .5rem;
        }
    }

    &--xsm {
        margin-top: 1.5rem;

        @include breakpoint(v-mobile) {
            margin-top: .75rem;
        }
    }

    &--s {
        margin-top: 2rem;

        @include breakpoint(v-mobile) {
            margin-top: 1rem;
        }
    }

    &--sm {
        margin-top: 2.5rem;

        @include breakpoint(v-mobile) {
            margin-top: 1.25rem;
        }
    }

    &--m {
        margin-top: 3rem;

        @include breakpoint(v-mobile) {
            margin-top: 1.5rem;
        }
    }

    &--mm {
        margin-top: 3.5rem;

        @include breakpoint(v-mobile) {
            margin-top: 1.75rem;
        }
    }

    &--l {
        margin-top: 4rem;

        @include breakpoint(v-mobile) {
            margin-top: 2rem;
        }
    }

    &--lm {
        margin-top: 4.5rem;

        @include breakpoint(v-mobile) {
            margin-top: 2.25rem;
        }
    }

    &--xl {
        margin-top: 5rem;

        @include breakpoint(v-mobile) {
            margin-top: 2.5rem;
        }
    }

    &--no {
        margin-top: 0;
    }

    &--no-important {
        margin-top: 0 !important;
    }
}

.margin-left {

    &--xs {
        margin-left: 1rem;

        @include breakpoint(v-mobile) {
            margin-left: .5rem;
        }
    }

    &--xsm {
        margin-left: 1.5rem;

        @include breakpoint(v-mobile) {
            margin-left: .75rem;
        }
    }

    &--s {
        margin-left: 2rem;

        @include breakpoint(v-mobile) {
            margin-left: 1rem;
        }
    }

    &--sm {
        margin-left: 2.5rem;

        @include breakpoint(v-mobile) {
            margin-left: 1.25rem;
        }
    }

    &--m {
        margin-left: 3rem;

        @include breakpoint(v-mobile) {
            margin-left: 1.5rem;
        }
    }

    &--mm {
        margin-left: 3.5rem;

        @include breakpoint(v-mobile) {
            margin-left: 1.75rem;
        }
    }

    &--l {
        margin-left: 4rem;

        @include breakpoint(v-mobile) {
            margin-left: 2rem;
        }
    }

    &--lm {
        margin-left: 4.5rem;

        @include breakpoint(v-mobile) {
            margin-left: 2.25rem;
        }
    }

    &--xl {
        margin-left: 5rem;

        @include breakpoint(v-mobile) {
            margin-left: 2.5rem;
        }
    }

    &--no {
        margin-left: 0;
    }

    &--no-important {
        margin-left: 0 !important;
    }
}

.margin-right {

    &--xs {
        margin-right: 1rem;

        @include breakpoint(v-mobile) {
            margin-right: .5rem;
        }
    }

    &--xsm {
        margin-right: 1.5rem;

        @include breakpoint(v-mobile) {
            margin-right: .75rem;
        }
    }

    &--s {
        margin-right: 2rem;

        @include breakpoint(v-mobile) {
            margin-right: 1rem;
        }
    }

    &--sm {
        margin-right: 2.5rem;

        @include breakpoint(v-mobile) {
            margin-right: 1.25rem;
        }
    }

    &--m {
        margin-right: 3rem;

        @include breakpoint(v-mobile) {
            margin-right: 1.5rem;
        }
    }

    &--mm {
        margin-right: 3.5rem;

        @include breakpoint(v-mobile) {
            margin-right: 1.75rem;
        }
    }

    &--l {
        margin-right: 4rem;

        @include breakpoint(v-mobile) {
            margin-right: 2rem;
        }
    }

    &--lm {
        margin-right: 4.5rem;

        @include breakpoint(v-mobile) {
            margin-right: 2.25rem;
        }
    }

    &--xl {
        margin-right: 5rem;

        @include breakpoint(v-mobile) {
            margin-right: 2.5rem;
        }
    }

    &--no {
        margin-right: 0;
    }

    &--no-important {
        margin-right: 0 !important;
    }
}

.padding-bottom {

    &--xs {
        padding-bottom: 1rem;

        @include breakpoint(v-mobile) {
            padding-bottom: .5rem;
        }
    }

    &--xsm {
        padding-bottom: 1.5rem;

        @include breakpoint(v-mobile) {
            padding-bottom: .75rem;
        }
    }

    &--s {
        padding-bottom: 2rem;

        @include breakpoint(v-mobile) {
            padding-bottom: 1rem;
        }
    }

    &--sm {
        padding-bottom: 2.5rem;

        @include breakpoint(v-mobile) {
            padding-bottom: 1.25rem;
        }
    }

    &--m {
        padding-bottom: 3rem;

        @include breakpoint(v-mobile) {
            padding-bottom: 1.5rem;
        }
    }

    &--mm {
        padding-bottom: 3.5rem;

        @include breakpoint(v-mobile) {
            padding-bottom: 1.75rem;
        }
    }

    &--l {
        padding-bottom: 4rem;

        @include breakpoint(v-mobile) {
            padding-bottom: 2rem;
        }
    }

    &--lm {
        padding-bottom: 4.5rem;

        @include breakpoint(v-mobile) {
            padding-bottom: 2.25rem;
        }
    }

    &--xl {
        padding-bottom: 5rem;

        @include breakpoint(v-mobile) {
            padding-bottom: 2.5rem;
        }
    }

    &--no {
        padding-bottom: 0;
    }

    &--no-important {
        padding-bottom: 0 !important;
    }
}

.padding-top {

    &--xs {
        padding-top: 1rem;

        @include breakpoint(v-mobile) {
            padding-top: .5rem;
        }
    }

    &--xsm {
        padding-top: 1.5rem;

        @include breakpoint(v-mobile) {
            padding-top: .75rem;
        }
    }

    &--s {
        padding-top: 2rem;

        @include breakpoint(v-mobile) {
            padding-top: 1rem;
        }
    }

    &--sm {
        padding-top: 2.5rem;

        @include breakpoint(v-mobile) {
            padding-top: 1.25rem;
        }
    }

    &--m {
        padding-top: 3rem;

        @include breakpoint(v-mobile) {
            padding-top: 1.5rem;
        }
    }

    &--mm {
        padding-top: 3.5rem;

        @include breakpoint(v-mobile) {
            padding-top: 1.75rem;
        }
    }

    &--l {
        padding-top: 4rem;

        @include breakpoint(v-mobile) {
            padding-top: 2rem;
        }
    }

    &--lm {
        padding-top: 4.5rem;

        @include breakpoint(v-mobile) {
            padding-top: 2.25rem;
        }
    }

    &--xl {
        padding-top: 5rem;

        @include breakpoint(v-mobile) {
            padding-top: 2.5rem;
        }
    }

    &--no {
        padding-top: 0;
    }

    &--no-important {
        padding-top: 0 !important;
    }
}

.padding-left {

    &--xs {
        padding-left: 1rem;

        @include breakpoint(v-mobile) {
            padding-left: .5rem;
        }
    }

    &--xsm {
        padding-left: 1.5rem;

        @include breakpoint(v-mobile) {
            padding-left: .75rem;
        }
    }

    &--s {
        padding-left: 2rem;

        @include breakpoint(v-mobile) {
            padding-left: 1rem;
        }
    }

    &--sm {
        padding-left: 2.5rem;

        @include breakpoint(v-mobile) {
            padding-left: 1.25rem;
        }
    }

    &--m {
        padding-left: 3rem;

        @include breakpoint(v-mobile) {
            padding-left: 1.5rem;
        }
    }

    &--mm {
        padding-left: 3.5rem;

        @include breakpoint(v-mobile) {
            padding-left: 1.75rem;
        }
    }

    &--l {
        padding-left: 4rem;

        @include breakpoint(v-mobile) {
            padding-left: 2rem;
        }
    }

    &--lm {
        padding-left: 4.5rem;

        @include breakpoint(v-mobile) {
            padding-left: 2.25rem;
        }
    }

    &--xl {
        padding-left: 5rem;

        @include breakpoint(v-mobile) {
            padding-left: 2.5rem;
        }
    }

    &--no {
        padding-left: 0;
    }

    &--no-important {
        padding-left: 0 !important;
    }
}

.padding-right {

    &--xs {
        padding-right: 1rem;

        @include breakpoint(v-mobile) {
            padding-right: .5rem;
        }
    }

    &--xsm {
        padding-right: 1.5rem;

        @include breakpoint(v-mobile) {
            padding-right: .75rem;
        }
    }

    &--s {
        padding-right: 2rem;

        @include breakpoint(v-mobile) {
            padding-right: 1rem;
        }
    }

    &--sm {
        padding-right: 2.5rem;

        @include breakpoint(v-mobile) {
            padding-right: 1.25rem;
        }
    }

    &--m {
        padding-right: 3rem;

        @include breakpoint(v-mobile) {
            padding-right: 1.5rem;
        }
    }

    &--mm {
        padding-right: 3.5rem;

        @include breakpoint(v-mobile) {
            padding-right: 1.75rem;
        }
    }

    &--l {
        padding-right: 4rem;

        @include breakpoint(v-mobile) {
            padding-right: 2rem;
        }
    }

    &--lm {
        padding-right: 4.5rem;

        @include breakpoint(v-mobile) {
            padding-right: 2.25rem;
        }
    }

    &--xl {
        padding-right: 5rem;

        @include breakpoint(v-mobile) {
            padding-right: 2.5rem;
        }
    }

    &--no {
        padding-right: 0;
    }

    &--no-important {
        padding-right: 0 !important;
    }
}
