$white: #fff;
$black: #212121;
$dark-grey: #2d2d2d;
$middle-grey: #E6E6E6;
$lite-grey: #f1f1f1;

$breakpoint-default: 1600px;
$breakpoint-desktop: 1240px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-v-mobile: 480px;
